@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/Gilroy-Bold.woff'),
	url('./fonts/Gilroy-Bold.woff2');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/Gilroy-Medium.woff'),
	url('./fonts/Gilroy-Medium.woff2');
	font-weight: medium;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/Gilroy-Regular.woff'),
	url('./fonts/Gilroy-Regular.woff2');
	font-weight: normal;
	font-display: swap;
}

body {
	font-family: 'Gilroy', sans-serif;
	color: #000;
	max-width: 100%;
	background-color: #FFF;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
ul,
li,
a {
	text-decoration: none;
	list-style-type: none;
	color: #000;
}
button {
	cursor: pointer;
	border:none;
}
img {
	max-width: 100%;
}
.color-white {
	color: #fff;
}
.container {
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.page-header {
	padding-top: 50px;
	padding-bottom: 50px;
}
.d-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	padding-top: 10px;
}
.main-nav {
	display: none;
}
.main-items-link {
	font-size: 18px;
	line-height: 22px;
}
.main-items-link:hover {
	color: #F7941E;
}
.main-items-link:active {
	color: #000;
}
}
.header-button {
	font-size: 10px;
	border: 1px solid #F7941E; 
	color:#F7941E;
	padding: 5px 15px;
	border-radius: 2px;
}
.header-button:hover {
	background:#F7941E;
	color: #FFF;
}
.header-button:active {
	background-color: #000;
	color: #FFF;
}
@media screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
	.main-nav {
		display: flex;
	}
	.main-items {
		display: flex;
	}
	.main-items-list {
		padding: 4px 8px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.header-button {
		font-size: 18px;
		border: 1px solid #F7941E; 
		color:#F7941E;
		padding: 15px 25px;
		border-radius: 10px;
	}
}
.hero-section {
	margin-top: 30px;
}
.text-h1 {
	width: 100%;
	font-size: 30px;
	line-height: 35px;
}
.plain-text {
	font-size: 15px;
}
.b-find-gift-now {
	font-size: 10px;
	padding: 5px 15px;
	border-radius: 2px;
	margin-bottom: 10px;
	color: #FFF;
	background-color: #F7941E;
}
.b-find-gift-now:hover {
	color:#F7941E;
	background-color: #FFF;
	border: 1px solid #F7941E;
}
.b-find-gift-now:active {
	background-color: #000;
	color: #FFF;
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.hero-section-flex {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.text-h1 {
		width: 80%;
		font-size: 30px;
		line-height: 35px;
	}
	.plain-text {
		width: 80%;
		font-size: 15px;
		padding-bottom: 30px;
		line-height: 22px;
	}
	.b-find-gift-now {
		font-size: 15px;
		padding: 5px 15px;
		border-radius: 2px;
		margin-bottom: 10px;
		color: #FFF;
		background-color: #F7941E;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.col-50 {
		width: 50%;
	}
	.text-h1 {
		width: 100%;
		font-size: 55px;
		line-height: 68px;
	}
	.plain-text {
		font-size: 20px;
		width: 80%;
		padding-bottom: 30px;
		line-height: 30px;
	}
	.b-find-gift-now {
		font-size: 18px;
		padding: 15px 25px;
		border-radius: 5px;
		margin-bottom: 10px;
		color: #FFF;
		background-color: #F7941E;
	}
	.hero-img {
		max-width: 100%;
		height: 500px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	.text-h1{
		width: 80%;
	}
	.col-50 {
		width: 50%;
	}
	.plain-text {
		width: 70%;
		padding-bottom: 30px;
		line-height: 30px;
	}
	.hero-img {
		width: 100%;
		height: 555px;
	}
}
/* HOW WE WORK SECTION  */
.we-work-section {
	padding-top: 60px;
}
.img-thanks {
	width: 100%;
}
.how-we-work-text {
	width: 100%;
	font-weight: normal;
}
.p-how-we-work {
	text-align: justify;
}
.button-how-we-work-container {
	color: #F7941E;
	border: 1px solid #F7941E;
	padding: 5px 15px;
	border-radius: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.button-how-we-work-container:hover {
	background:#F7941E;
	color: #FFF;
}
.button-how-we-work-container:active {
	background-color: #000;
	color: #FFF;
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.col-50 {
		width: 50%;
	}
	.we-work-flex {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.img-thanks {
		width: 95%;
	}
	.how-we-work-container {
		width: 40%;
	}
	.button-how-we-work-container {
		color: #F7941E;
		border: 1px solid #F7941E;
		padding: 5px 15px;
		border-radius: 2px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 920px; 
	}
	.how-we-work-text {
		font-size: 32px;
	}
	.p-how-we-work {
		font-size: 20px;
		line-height: 28px;
	}
	.button-how-we-work-container {
		color: #F7941E;
		border: 1px solid #F7941E;
		padding: 15px 20px;
		border-radius: 5px;
		font-size: 18px;
}
.img-thanks {
	width: 95%;
	height: 480px;
	}
}
/* GIFT FOR ALL OCCASIONS CONTAINER  */
.gifts-for-all-section {
	padding-top: 95px;
}
.gift-for-all-text {
	text-align: center;
	font-size: 32px;
	font-weight: normal;
}
.p-try-our-web {
	text-align: center ;
	font-size: 18px;
}
.birthday-container {
	padding-top: 40px;
} 
.birthday-img {
	width: 100%;
}
.birthday-text {
	font-weight: normal;
	font-size: 16px;
}
.anniversary-container {
	padding-top: 40px;
} 
.anniversary-img {
	width: 100%;
}
.anniversary-text {
	font-weight: normal;
	font-size: 16px;
}
.valentaines-container {
	padding-top: 40px;
} 
.valentaines-img {
	width: 100%;
}
.valentaines-text {
	font-weight: normal;
	font-size: 16px;
}
.christmas-container {
	padding-top: 40px;
} 
.christmas-img {
	width: 100%;
}
.christmas-text {
	font-weight: normal;
	font-size: 16px;
}
.anchor-see-more {
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 40px;
}
.a-see-more:hover {
	color:#F7941E;
}
.a-see-more:active {
	color:#000;
}
@media screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
	.gifts-all-container-flex {
		display: flex;
		flex-wrap: wrap;
	}
	.col {
		width: 50%;
		padding: 10px;
	}
	.gift-for-all-text {
		text-align: center;
		font-size: 30px;
		line-height: 38px;
		font-weight: normal;
		line-height: 30px;
	}
	.p-try-our-web {
		text-align: center ;
		font-size: 18px;
		line-height: 25px;
	}
	.pdl-20 {
		padding-left: 20px;
	}
	.anchor-see-more {
		padding-left: 20px;
		padding-top: 20px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.gifts-for-all-section {
		padding-top: 95px;
	}
	.gifts-all-container-flex {
		display: flex;
		flex-wrap: wrap;
	}
	.col {
		width: 25%;
		padding: 10px;
	}
	.anchor-see-more {
		margin-top: 50px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.gifts-for-all-section {
		padding-top: 95px;
	}
	.gifts-all-container-flex {
		display: flex;
		flex-wrap: wrap;
	}
	.col {
		width: 25%;
		padding: 20px;
	}
	.anchor-see-more {
		font-size: 14px;
		margin-top: 75px;
	}
	.birthday-text {
		font-size: 20px !important;
		line-height: 24px;
	} 
	.anniversary-text {
		font-size: 20px !important;
		line-height: 24px;
	} 
	.valentaines-text {
		font-size: 20px !important;
		line-height: 24px;
	} 
	.christmas-text {
		font-size: 20px !important;
		line-height: 24px;
	} 

	
	.img-height {
		height: 200px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	.gifts-for-all-section {
		padding-top: 95px;
	}
	.gifts-all-container-flex {
		display: flex;
		flex-wrap: wrap;
	}
	/* .fs-20 {
		font-size: 20px;
		line-height: 24px;
	} */
	.col {
		width: 25%;
		padding: 20px;
	}
	.img-height {
		width: 270px;
		height: 270px;
	}
	.anchor-see-more {
		font-size: 14px;
		margin-top: 60px;
		margin-bottom: 60px;
	}
}
/* READY TO GET STARTED */
.ready-to-get-started-section {
	margin-top: 30px;
	padding-bottom: 30px;
	background-color: #F7941E;
}
.ready-to-get-container-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ready-signup-text-container {
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 15px;
}
.ready-to-get-text {
	font-size: 20px;
}
.p-sugn-up-text {
	font-size: 20px;
}
.button-find-gift {
	font-size: 16px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 18px;
	padding-bottom: 12px;
	color: #FFF;
	background-color: #231F20;
	border-radius: 5px;
}
.button-find-gift:hover {
	background-color: #F7941E;
	color: #231F20;
	border: 1px solid #000;
}
.button-find-gift:active {
	background-color: #231F20;
	color: #FFF;
}
.button-how-it-works {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 18px;
	padding-bottom: 10px;
	font-size: 16px;
	background-color: transparent;
	border: 1px solid #000;
	border-radius: 5px;
}
.button-how-it-works:hover {
	color: #FFF;
	background: #231F20;
}
@media screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.ready-to-get-container-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.button-find-gift {
		margin-right: 8px;
	}
	.button-how-it-works {
		margin-left: 8px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.ready-to-get-started-section {
		height: 240px;
	} 
	.ready-to-get-text {
		font-size: 32px;
	}
	.p-sugn-up-text {
		font-size: 32px;
	}
	.ready-to-get-container-flex {
		padding-top: 50px;
	}
	.button-find-gift {
		font-size: 18px;
		padding-left: 25px;
		padding-right: 25px;
		margin-right: 8px;
	}
	.button-how-it-works {
		font-size: 18px;
		padding-left: 25px;
		padding-right: 25px;
		margin-left: 8px;
	}
}
/* OUR BEST BLOGS  */
.our-best-blogs-section {
	padding-top: 50px;
}
.our-best-blogs-text {
	font-size: 24px;
	text-align: center;
}
.p-our-best-blogs-text {
	font-size: 17px;
	text-align: center;
}
.the-best-way-container-flex {
	background-image: url("../images/bg-black.png");
	max-width: 100%;
}
.best-way-text-container {
	padding-left: 20px;
}
.img-newlywebs {
	width: 100%;
}
.mr-john-text {
	font-size: 14px;
	padding-top: 10px;
}
.best-way-text {
	font-size: 32px;
}
.a-read-more {
	font-size: 18px;
	padding-bottom: 20px;
	color: #FFF;
}
.a-read-more:hover {
	color: #F7941E;
}
.a-read-more:active {
	color:#FFF;
}

@media screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.the-best-way-container-flex {
		display: flex;
		align-items: center;
	}
	.our-best-blogs-text {
		font-size: 32px;
		font-weight: normal;
		text-align: center;
	}
	.line-height {
		line-height: 20px;
	}
	.p-our-best-blogs-text {
		font-size: 18px;
		text-align: center;
		padding-bottom: 40px;
	}
	.best-way-text-container {
		padding-left: 60px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.best-way-text {
		font-size: 35px;
		width: 80%;
		padding-bottom: 60px;
		
	}
	.img-best-blogs-container {
		width: 40%
	}
	.img-newlywebs {
		max-width: 100%;
		height: 370px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	.best-way-text {
		font-size: 48px;
		width: 80%;
	}
	.img-newlywebs {
		max-width: 90%;
		height: 370px;
	}
	.best-way-text-container {
		padding-left: 50px;
	}
}
/* DATABASE  */
.the-best-way-container-flex {
	background-image: url("../images/background.png");
}
.fs-20 {
	font-size: 20px;
	line-height: 34px;
}
.fs-18 {
	font-size: 18px;
	line-height: 25px;
} 
.database-artificial-container-flex {
	padding-top: 40px;
}
.anchor-pt {
	padding-top: 40px;
}
.anchor-database-container:hover {
	color: #F7941E;
}
.anchor-database-container:active {
	color: #000;
}
.anchor-artificial-container:hover {
	color: #F7941E;
}
.anchor-artificial-container:active {
	color: #000;
}
@media screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.database-artificial-container-flex {
		display: flex;
		justify-content: space-around;
		padding-top: 70px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.database-artificial-container-flex {
		justify-content: space-around;
		padding-top: 70px;
	}	
	.fs-24 {
		font-size: 24px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	.database-artificial-container-flex {
		justify-content: space-around;
	}
	.database-40 {
		width: 40%;
	}
}
/* FOOTER  */
.footer-section {
	margin-top: 180px;
}
.footer-flex {
	display: flex;
	justify-content: center;
}
.footer-hr {
	margin-top: 50px;
	background-color: #000;
	max-width: 100%;
}
.footer-nav-link {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 10px;
}
.footer-nav-link:hover {
	color: #F7941E;
}
.footer-nav-link:active {
	color: #000;
}
.fs-40 {
	font-size: 40px;
}
.menu-icon {
	text-align: center;
	padding-top: 50px;
}
.menu-icon-hover:hover {
	color: #F7941E;
}
.menu-icon-hover:active {
	color: #000;
}
.footer-year-container {
	display:flex;
	justify-content: center;
	padding-top: 70px;
}
.privacy-terms {
	padding-left: 15px;
}
.footer-logo-img {
width: 40px;
height: 40px;
}
@media screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
	.pl-30 {
		padding-left: 30px;
	}
	.pr-30 {
		padding-right: 30px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.footer-flex {
		display: flex;
		}
	.pl-80 {
		padding-left: 80px;
	}
	.pr-80 {
		padding-right: 80px;
	}
	.pl-30 {
		padding-left: 30px;
	}
	.pr-30 {
		padding-right: 30px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.pl-100 {
		padding-left: 100px;
	}
	.pr-100 {
		padding-right: 100px;
	}
	.pl-60 {
		padding-left: 60px;
	}
	.pr-60 {
		padding-right: 60px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	.pl-150 {
		padding-left: 150px;
	}
	.pr-150 {
		padding-right: 150px;
	}
	.pl-20 {
		padding-left: 150px;
	}
	.pr-20 {
		padding-right: 100px;
	}
}
